/Planner/Calculation/obj
/Planner/Calculation/bin
/Planner/Domain/bin
/Planner/Planner/bin
/Planner/Planner/obj
/Planner/Console/obj
/Planner/Console/bin
/Planner/Domain/obj

/Planner/ConsoleTest/bin
/Planner/ConsoleTest/obj

/Planner/.vs
/Planner/.vs/*
/Planner/ImportUserTools/bin
/Planner/ImportUserTools/obj
/Planner/.vs/Planner
/Planner/.vs/Planner/v14/*.suo
/Planner/.vs/Planner/v14/.suo
/Planner/Planner/Properties/PublishProfiles/фів.pubxml.user
