@model IEnumerable<Domain.Models.Course>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Список курсів";
}
<div class="content-wrapper " style="height: 900px!important; overflow-y: scroll;">
    <div style="width:600px; margin: 0 auto;">
        <p style="font-size: 24px!important" class="login-box-msg">Список курсів</p>
        <br />
    </div>

    <table align="center">
        <tr>
            <td width="400"><h2>Курси</h2></td>
            <td><a href="~/Courses/Create" style="font-size: 16px!important" class="btn btn-primary">Створити</a></td>
        </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Literal)
                    </td>
                    <td>
                        @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }, new { @style = "font-size: 16px!important", @class = "btn btn-primary" })
                        @Html.ActionLink("Детальніше", "Details", new { id = item.Id }, new { @style = "font-size: 16px!important", @class = "btn btn-primary" })
                        @Html.ActionLink("Видалити", "Delete", new { id = item.Id }, new { @style = "font-size: 16px!important", @class = "btn btn-primary" })
                    </td>
                </tr>
            }


    </table>
</div>
