@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Індивідуальний план</title>
</head>
<body>
    <div class="content-wrapper">
        <div class="col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner" style="text-align: center">
                    <h3>Навчальна </h3>
                    <h3>робота</h3>
                </div>
                <div class="icon">
                    <i class="ion ion-android-search"></i>
                </div>
                <a href="TrainingJob" class="small-box-footer">Перейти <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner" style="text-align: center">
                    <h3>Методична</h3>
                    <h3>робота</h3>
                </div>
                <div class="icon">
                    <i class="ion ion-android-desktop"></i>
                </div>
                <a href="PlanMethodicalWork" class="small-box-footer">Перейти <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner" style="text-align: center">
                    <h3>Наукова</h3>
                    <h3>робота</h3>
                </div>
                <div class="icon">
                    <i class="ion ion-android-desktop"></i>
                </div>
                <a href="PlanScientificWork" class="small-box-footer">Перейти <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-xs-6">
            <!-- small box -->
            <div class="small-box bg-teal">
                <div class="inner" style="text-align: center">
                    <h3>Організаційна</h3>
                    <h3>робота</h3>
                </div>
                <div class="icon">
                    <i class="ion ion-android-desktop"></i>
                </div>
                <a href="PlanManagment" class="small-box-footer">Перейти <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-xs-6">
            <!-- small box -->
            <div class="small-box bg-orange">
                <div class="inner" style="text-align:center">
                    <h3>Зміни та </h3>
                    <h3>висновки</h3>
                </div>
                <div class="icon">
                    <i class="ion ion-android-document"></i>
                </div>
                <a href="TrainingJob" class="small-box-footer">Перейти <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</body>
</html>
