@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/jqGrid/css/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jqGrid/js/i18n/grid.locale-ru.js"></script>
<script src="~/Scripts/jqGrid/js/jquery.jqGrid.min.js"></script>

<div class="content-wrapper">
    <table id="Training"></table>
    <div id="TrainingJob"></div>
    <script src="~/Scripts/IndividualPlan/TrainingJob.js"></script>
</div>

