@model Planner.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Change Password";
}
<script src="~/Scripts/App/Factories/rolesFactory.js"></script>

<div class="content-wrapper">
    <div class="form-group">
        <div class="login-box-body">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "", name = "userRegisterForm", role = "form" }))
            {@Html.AntiForgeryToken()
            <p class="login-box-msg">Зміна паролю</p>

            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Старий пароль", required = "required" })
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", ng_pattern = @"/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-.,/]).{8,}$/", placeholder = "Пароль", required = "", ng_model = "Password" })
                <span ng-show="userRegisterForm.NewPassword.$error.required && userRegisterForm.NewPassword.$touched">Це поле повинно бути заповненим.</span>
                <span ng-show="userRegisterForm.NewPassword.$error.pattern">
                    Пароль повинен мати: <br>- мінімум 8 знаків; <br>- принаймні один спеціальний символ;
                    <br>- принаймні одну літеру верхнього регістру англійського алфавіту; <br>- принаймні одну літеру нижнього регістру англійського алфавіту;
                    <br>- принаймні одну цифру; <br>- принаймні один спеціальний символ;
                </span>
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", ng_pattern = @"/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-.,/]).{8,}$/", placeholder = "Підтвердіть пароль", required = "", ng_model = "ConfirmPassword" })
                <span ng-show="userRegisterForm.NewPassword.$error.required && userRegisterForm.NewPassword.$touched">Це поле повинно бути заповненим.</span>
                <span ng-show="NewPassword != ConfirmPassword && userRegisterForm.ConfirmPassword.$touched">Паролі не співпадають. Повторіть спробу.</span>
                <span ng-show="userRegisterForm.NewPassword.$error.pattern">
                    Пароль повинен мати: <br>- мінімум 8 знаків; <br>- принаймні один спеціальний символ;
                    <br>- принаймні одну літеру верхнього регістру англійського алфавіту; <br>- принаймні одну літеру нижнього регістру англійського алфавіту;
                    <br>- принаймні одну цифру; <br>- принаймні один спеціальний символ;
                </span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <input type="submit" value="Зберегти" class="btn btn-primary btn-block btn-flat" />
                </div><!-- /.col -->
            </div>
        }
        </div>

    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->