@{
    ViewBag.Title = "AboutTeachLoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="form-group">
        <div class="login-box-body" data-ng-controller="registerController as registerCtrl" ng-cloak data-ng-init="registerCtrl.init()">
            <p class="login-box-msg">Навантаження на викладача </p>
            <hr />
            <ol>
                <li>Натиснути пункт меню "Файл навантаження"</li>
                <li>Натиснути кнопку "Обрати файл" та завантажити файл навантаження</li>
                <li>Натиснути пункт меню "Навантаження на викладача"</li>
                <li>
                    На сторінці "Навантаження на викладача":
                    <ol>
                        <li>Вибрати потрібну форму навчання</li>
                        <li>З першого випадаючого списку вибрати рік</li>
                        <li>З другого випадаючого списку вибрати семестр</li>
                        <li>Натиснути кнопку "Показати навантаження"</li>
                        <li>Натиснути кнопку "Друк звіту", для отримання Excel-файлу</li>
                    </ol>
                </li>
                <li>Відкрити файл, що був отриманий, для подальшого редагування</li>
            </ol>
        </div>
    </div>
</div>



