@model IEnumerable<Domain.Models.Specialize>

@{
    ViewBag.Title = "Список спеціалізацій";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="content-wrapper " style="height: 900px!important; overflow-y: scroll;">
    <div style="width:600px; margin: 0 auto;">
        <p style="font-size: 24px!important" class="login-box-msg">Список спеціалізацій</p>
        <br />
    </div>
    <table class="table">
        <tr>
            <td width="400"><h2>Список спеціалізацій</h2></td>
            <td><a href="~/NMBDs/Create" style="font-size: 16px!important" class="btn btn-primary">Створити</a></td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cipher)
                </td>
                <td>
                    @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }, new { @style = "font-size: 16px!important", @class = "btn btn-primary" })
                    @Html.ActionLink("Детальніше", "Details", new { id = item.Id }, new { @style = "font-size: 16px!important", @class = "btn btn-primary" })
                    @Html.ActionLink("Видалити", "Delete", new { id = item.Id }, new { @style = "font-size: 16px!important", @class = "btn btn-primary" })
                </td>
            </tr>
        }


    </table>
</div>
