<div class="content-wrapper">
    <div class="form-group">
        <div ng-controller="teachersRatesController">
            @*<p class="text-center"> </p>*@
            <br />
            <br />
            <div id="grid2" ui-grid="gridCurrentTeachersRate" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns class="grid" style="width:900px;height: 400px;">
            </div>

        </div>
    </div>
</div>
