@model string
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="col-xs-3"><button class="btn btn-primary">Примінити</button></div>
    </div>
    @if (Model != null && Model != string.Empty)
    {
        <iframe class="col-lg-12" height="700" src="http://services.hneu.edu.ua:8081/schedule/schedule?employee=@Model"></iframe>
    }
    else
    {
        <iframe class="col-lg-12" height="700" src="http://services.ksue.edu.ua:8081/schedule/selection.jsf"></iframe>
    }
    
    
</div>