@{
    ViewBag.Title = "Home Page";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Головна сторінка
            <small>Панель</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Планувальник</a></li>
            <li class="active">Публикации</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-2 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-gray-light">
                    <a href="#" class="inner btn-block">Создать <i class="fa glyphicon-cog"></i></a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-2 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-gray-light">
                    <a href="#" class="inner btn-block">Мои публикации <i class="fa glyphicon-certificate"></i></a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-2 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-gray-light">
                    <a href="#" class="inner btn-block">Черновики <i class="fa glyphicon-pencil"></i></a>
                </div>
            </div><!-- ./col -->
        </div><!-- /.row -->
    </section>
</div><!-- /.content-wrapper -->
