
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-2 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-gray-light">
            <a href="~/Publication/Create" class="inner btn-block">Создать <i class="glyphicon glyphicon-pencil"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-2 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-gray-light">
            <a href="#" class="inner btn-block">Мои публикации <i class="glyphicon glyphicon-paperclip"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-2 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-gray-light">
            <a href="#" class="inner btn-block">Черновики <i class="glyphicon glyphicon-briefcase"></i></a>
        </div>
    </div>
    <div class="col-lg-2 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-gray-light">
            <a href="~/Publication/PrintForm11" class="inner btn-block">Печатать <i class="glyphicon glyphicon-arrow-down"></i></a>
        </div>
    </div>

    <!-- ./col -->
</div><!-- /.row -->