
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-2 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-gray-light">
            <a href="~/Publication/Create" class="inner btn-block">Створити <i class="glyphicon glyphicon-pencil"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-2 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-gray-light">
            <a href="#" class="inner btn-block">Мои публікації <i class="glyphicon glyphicon-paperclip"></i></a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-2 col-xs-6" ng-if="false">
        <!-- small box -->
        @*<div class="small-box bg-gray-light">
            <a href="#" class="inner btn-block">Чорнетки <i class="glyphicon glyphicon-briefcase"></i></a>
        </div>*@
    </div>
    <div class="col-lg-2 col-xs-6">
        <!-- small box -->
        
        @if (Model.Count > 0)
        {
            <div class="small-box bg-gray-light">
                <a href="~/Publication/PrintForm11" class="inner btn-block">Друк <i class="glyphicon glyphicon-arrow-down"></i></a>
            </div>
        }
        
    </div>

    <!-- ./col -->
</div><!-- /.row -->