@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GetUsers";
}
<script src="~/Scripts/App/Controllers/getUsersController.js"></script>
<div class="content-wrapper" ng-controller="getUsersController as guCtrl" ng-init="guCtrl.init()">
    <div style="width:600px; margin: 0 auto;">
        <h3 style="margin: 0 auto; width: 150px;">Користувачі</h3>
        <br />
        <input type="text" class="form-control" ng-model="searchName" />
    </div>
    
    <table align="center">
        <tr ng-repeat="user in guCtrl.users | orderBy: 'Name' | filter:searchName">

            <td width="600"><h3>{{user.Name}}</h3></td>
            <td><a href="~/Account/Edit?userName={{user.Email}}" class="btn btn-primary">Редагувати</a></td>
        </tr>
    </table>
</div>

